<form action="/articles" method="POST" id="foem">
    article:
    <input type="text" name="type" required/>
    <br> <br> description:
    <textarea name="description" required></textarea>
    <br><br> picture:
    <input type="text" name="image" required/>
    <br> <br>
    <select name="category">
        <option value="music">music</option>
         <option value="entartainment">entartainment</option>
          <option value="sport">sport</option>
           <option value="other">other</option>
    </select>

    <input type="submit" value="add article" />
</form>