extends ../layout.pug

block content
  h2 contact us 
    form
        label name
        br
        input(type="text")
        br
        br
        label message
        br
        textarea
        br
        input(type="submit" value="send")